:root {
  --max-width-500px: 500px;
  --width-98-percent: 97%;
}

#auth {
  // min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../../images/money-watch-logo.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  .auth-form-ctn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login-ctn {
      background-color: rgb(205, 205, 205);
      box-shadow: 0 0 5px black;
      padding: 10px;
      border-radius: 10px;
      width: var(--width-98-percent);
      max-width: var(--max-width-500px);
      .form-title {
        text-align: center;
      }

      input {
        background-color: rgb(238, 238, 238);
        border: 1px solid gray;
      }

      input:focus {
        background-color: rgb(255, 255, 255);
        border: 1px solid gray;
      }

      .bi-asterisk {
        color: red;
        top: -10px;
        font-size: 8px;
      }

      .btn-primary{
        background: white;
        color: black;
        font-weight: bold;
        font-size: 20px;
        box-shadow: 0 4px 5px rgb(0, 0, 0);
        border: 0;

      }
      .btn-primary:active{
        background: black;
        color: white;
      }
    }
  }

  .btn {
    width: 100%;
  }

  .login-register {
    text-align: left;
    min-width: 200px;
    max-width: var(--max-width-500px);
    margin-top: 10px;
    color: black;
    margin: 0;

    span {
      color: blue;
    }
    span:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
