

.breakdown-overview{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    width: max-content;
    justify-content: end;
    text-transform: capitalize;
    height: max-content;
    width: 95%;

    .title{
        grid-column: 2 span;
        text-align: center;
    }

    .header.type{
        text-align: left;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .header.amount{
        text-align: right;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .details{
        grid-column: 2 span;
        
        div{
            display: grid;
            grid-template-columns: 1fr 0.5fr;
            padding: 2px 5px;

            .type{
                text-align: left;
            }

            div{
                margin-right: 0;
                display: grid;
                grid-template-columns: 0.1fr 1fr;
                text-align: right;
            }

            .amount{
                font-weight: 500;
                text-align: right;
            }

            .bi-currency-dollar{
                text-align: right;
                padding-left: 10px;
            }
        }

        div:nth-child(odd){
            background: rgb(236, 236, 236);
        }

       
    }

}

@media(max-width:796px) {
    .breakdown-overview {
        grid-template-columns: 1fr 1fr;

        .details{
            margin-bottom: 20px;
        }
    }
}

