.homepage{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1440px;
    margin-bottom: 20px;
    .welcome-msg {
        text-align: left;

        .user-firstname {
            text-transform: capitalize;
        }
    }
    .section{
        box-shadow: 0 0 2px gray;
        // padding: ;

    }

    .section-title{
        text-align: left;
        font-weight: bold;
    } 
}

