.expense-form {
    max-width: fit-content;
  
    
    .header-inputs {
        overflow-x: auto;
        max-width: fit-content;

        .expense-header {
            display: grid;
            grid-template-columns: 1fr 1fr 140px 0.7fr 20px;
            text-align: left;
            font-weight: 600;
            padding: 5px 20px;
            min-width: 700px;
            border-bottom: 1px solid gray;
    
            .amount {
                text-align: right;
            }
        }
    }
    
    

    .expense-input-ctn {
        display: grid;
        grid-template-columns: 1fr 1fr 140px 0.7fr 20px;
        align-items: center;
        gap: 20px;
        text-align: left;
        padding: 5px 10px;
        padding-right: 0;
        min-width: 700px;
        border-bottom: 1px solid lightslategray;

        input,select{
            border: 0;
            border-radius: 0;
            // border-bottom: 1px solid black;
            background: linear-gradient(white,rgb(248, 248, 248))

        }
        .form-control{
            padding: 1px 8px;
        }

        .amount{
            text-align: right;
            
        }
        .bi-trash:hover{
            color: red;
            cursor: pointer;
        }
        .bi-trash{
            border: 0;
            background: none;
        }
    }
    .btn-ctn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
     

        .bi-plus-circle{
            cursor: pointer;
            font-size: 30px;
        }
    }
}

.form-ctn{
    max-width: 1440px;
}