.expenses-ctn{
    max-width: 1440px;

    .msg{
        text-align: left;
    }

    .select{
        display: flex;
        align-items: center;
        background: linear-gradient(white, rgb(219, 219, 219));
        width: max-content;
        gap: 20px;
        padding: 0 5px;

        .form-title {
            // color: black;
            font-size: 25px;
            border: 0;
            display: flex;
            justify-content: flex-start;
            width: max-content;
            padding: 5px 2px;
            background: linear-gradient(white, rgb(219, 219, 219));
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
    
            option {
                font-size: 15px;
            }
        }
    
        .form-title:active {
            border: 0;
            outline: none;
        }
    
        .form-title:focus {
            border: 0;
            outline: none;
        }
    }
    


}