.pagination{
    gap:10px;
    justify-content: center;
    
    .btn-primary{
        background: lightgray;
        border: 0;
        color: black;
        box-shadow: 0 4px 5px gray;
    }

    .btn-primary:hover{
        background: rgb(126, 126, 126);
        color: white;
    }

    .btn-primary:active{
        background: rgb(0, 0, 0);
        box-shadow: none;
    }
}